.stars__star:checked ~ .stars__label, 
.stars__label, 
.stars__label:hover, 
.stars__label:hover ~ .stars__label {
  background: url('../img/star.png') no-repeat;
}

.stars {
  
  /*fix floating problems*/
  overflow: hidden;
  zoom: 1;
  /*end of fix floating problems*/
  
  position: relative;
  float: right;
}

.stars__star {
  opacity: 0;
  width: 40px;
  height: 40px;
  position: absolute;
  top: 0;
  z-index: 0;
}

.stars__star:checked ~ .stars__label {
  background-position: 0 -40px;
  height: 40px;
  width: 40px;
}

.stars__label {
  background-position: 0 0;
  height: 40px;
  width: 40px;
  float: right;
  cursor: pointer;
  margin-right: 10px;
  position: relative;
  z-index: 1;
}

.stars__label:hover, 
.stars__label:hover ~ .stars__label {
  background-position: 0 -40px;
  height: 40px;
  width: 40px;
}

.stars__star--0 {
  left: 0px;
}
.stars__star--1 {
  left: 53px;
}
.stars__star--2 {
  left: 106px;
}
.stars__star--3 {
  left: 159px;
}
.stars__star--4 {
  left: 212px;
}
.stars__star--5 {
  left: 265px;
}